<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.nilson.appsportmate">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".SportMate"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppSportMate"
        tools:targetApi="31">

        <!-- ÚNICO LAUNCHER: MainActivity con NavHost (Splash/Auth/Login/SignUp como Fragments) -->
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>



    </application>
</manifest>
    <!-- No declares aquí LoginActivity / RegisterActivity.
                 Si aún existen en el proyecto y no se usan, bórralas.
                 Si las necesitas para otra cosa puntual, re-introdúcelas sin launcher:
                 <activity android:name=".features.auth.ui.LoginActivity" android:exported="false"/>
                 <activity android:name=".features.auth.ui.RegisterActivity" android:exported="false"/> -->

    <!-- De igual forma, las pantallas de usuario/ayuntamiento deberían ser Fragments.
         Si hoy sigues usando Activities para esas pantallas, puedes dejarlas
         sin launcher y exported="false" hasta migrarlas: -->
    <!--
    <activity android:name=".features.user.ui.DeportesDisponiblesActivity" android:exported="false" />
    <activity android:name=".features.user.ui.FormularioUsuarioAyuntamientoActivity" android:exported="false" />
    <activity android:name=".features.townhall.ui.FormularioAyuntamientoActivity" android:exported="false" />
    <activity android:name=".features.townhall.ui.GestionDeportesAyuntamientoActivity" android:exported="false" />
    <activity android:name=".features.townhall.ui.GestionEventosMasPlazasActivity" android:exported="false" />
    -->
